@media (min-width:0px){
    /*-------------------------CABECALHO-----------------------*/
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 5.4rem;

        padding-left: 8.125rem;
        padding-right: 8.125rem;
        padding-top: 1.063rem;
        padding-bottom: 1.063rem;

        overflow-y: visible;
    }
    .navegacao__cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5.986rem;
    }
    .secao__navegacao{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.813rem;
    }
    .secao__navegacao___mobile{
        display: none;
    }
    .item__navegacao{
        font-family: var(--inter);
        color: var(--low-light);
        font-weight: var(--medium);

        transition: all .15s ease-in-out;
    }
    .item__navegacao:hover{
        color: var(--primary-dark);
        transition: all .15s ease-in-out;
    }
    .container__dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        height: 3.4rem;
        width: 6.75rem;

        cursor: pointer;

        position: relative;
        top: 1rem;
    }
    .container__botao___dropdown{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        cursor: pointer;
    }
    .botao__produtos{
        border: none;
        background-color: transparent;
    }
    .seta__dropdown{
        transition: all .2s ease-in-out;
    }
    .container__dropdown:hover  .botao__produtos{
        color: #00BD62;

        transition: all .15s ease-in-out;
    }
    .container__dropdown:hover  .seta__dropdown-color{
        stroke: #00BD62;

        transition: all .15s ease-in-out;
    }
    .container__dropdown:hover  .seta__dropdown{
        transition: all .2s ease-in-out;

        transform: rotate(180deg)
    }
    .container__dropdown:hover .container__conteudo___dropdown{
        visibility: visible;

        animation: animaDropdwon .3s ease-in-out forwards;
    }
    .container__conteudo___dropdown{
        display: flex;
        flex-direction: column;

        width: 14.4rem;

        visibility: hidden;

        background: #FFFFFF;
        border-radius: 8px;

        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));

        position: relative;
        left: 4.2rem;

        padding-top: 1.714rem;
        padding-left: 1.2rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;

        top: -15px;
        opacity: 0;
        
        z-index: 200;
    }
    .lista__navegacao___dropdown{
        display: flex;
        flex-direction: column;
        gap: 1.63rem;
    }
    .lista__navegacao___dropdown > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.606rem;
    }
    .item__lista___dropdown{
        font-family: var(--inter);
        color: var(--low-light);
        font-weight: var(--medium);

        font-size: 14px;

        transition: all .15s ease-in-out;

        background-position: left center;
        background-repeat: no-repeat;
    }
    .item__lista___dropdown:hover{
        color: #00BD62;

        transition: all .15s ease-in-out;
    }
    .item__saude-ocupacional:hover .vetor__saude-ocupacional{
        stroke: #00BD62;

        transition: all .1s ease-in-out;
    }
    .item__seguranca-trabalho:hover .vetor__seguranca-trabalho{
        stroke: #00BD62;

        transition: all .1s ease-in-out;
    }
    .item__relatorios:hover .vetor__relatorios{
        stroke: #00BD62;

        transition: all .1s ease-in-out;
    }
    .item__e-social:hover .vetor__e-social{
        stroke: #00BD62;
        transition: all .1s ease-in-out;
    }
    .item__integracao-sap:hover .vetor__integracao-sap{
        stroke: #00BD62;

        transition: all .1s ease-in-out;
    }
    .vetor__saude-ocupacional, .vetor__seguranca-trabalho, .vetor__relatorios, .vetor__e-social, .vetor__integracao-sap{
        transition: all .3s ease-in-out;
    }
    @keyframes animaDropdwon {
        to{
            top: 0%;
            opacity: 1;
        }
    }
    .secao__login___cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
    }
    .botao__login{
        font-family: var(--inter);
        font-weight: var(--semi-bold);

        color: var(--primary-dark);

        padding: 1rem 1.3rem;

        border: 1px solid var(--primary-dark);
        border-radius: 8px;

        transition: all .15s ease-in-out;

        background-image: url("../../Assets/Interações/active-login.svg");

        background-position-x:center;
        background-position-y:center;
        background-repeat: no-repeat;
        
        background-size: 0% 0%;
    }
    .botao__login:active{
        background-image: url("../../Assets/Interações/active-login.svg");
        background-position-y: center;
        background-position-x: center;

        background-size: 150% 150%;

        transition: all .2s ease-in-out;
    }
    .botao__login:hover{
        color: #FFFFFF;

        background-color: var(--primary-dark);
        transition: all .15s ease-in-out;
    }
}

@media (max-width:1200px){
    /*-------------------------CABECALHO-----------------------*/
    #cabecalho{
        padding-left: 1.5rem;
        padding-right: 1.688rem;

        overflow-y: visible;

        position: fixed;

        background-color: #FFFFFF;

        z-index: 10000;
    }
    #secao__navegacao, #secao__login___cabecalho{
        display: none;
    }
    #secao__navegacao___mobile{
        display: block;
    }
    .botao__abre-menu{
        background-color: transparent;
        border: none;
    }
    /*--------------------------MENU-ABERTO-------------------*/
    .secao__menu-aberto___mobile{
        width: 100vw;

        position: fixed;

        top: 0px;
        left: 0%;

        padding-top: 3.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 11.625rem;

        background-color: #FFFFFF;

        z-index: 20000;

        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;


        display: none;
        flex-direction: column;

        animation: animaMenu .8s ease-in-out forwards;
    }
    @keyframes animaMenu {
        from{
            top: -100%;
        }
        to{
            top: 0%;
        }
    }
    @keyframes animaFechaMenu {  
        from{
            display: flex;
        }
        to{
            display: none;
        }
    }
    .container__cabecalho___menu-aberto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 86vw;

        margin-bottom: 3.75rem;
    }
    .item__navegacao {
        font-family: var(--inter);
        color: var(--low-light);
        font-weight: var(--medium);
        font-size: 18px;

        transition: all .15s ease-in-out;
    }
    .botao__fecha___menu-aberto{
        background-image: url("../../Assets/Mobile/Vetores/vetor-fecha-menu.svg");
        background-position: center center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;

        width: 1rem;
        height: 0.9rem;
    }
    .botao__login___menu-aberto{
        font-family: var(--inter);
        font-weight: var(--semi-bold);

        color: var(--primary-dark);

        padding: 1rem 1.3rem;

        margin-bottom: 2rem;

        border: 1px solid var(--primary-dark);
        border-radius: 8px;

        transition: all .15s ease-in-out;

        background-image: url("../../Assets/Interações/active-login.svg");

        background-position-x:center;
        background-position-y:center;
        background-repeat: no-repeat;
        
        background-size: 0% 0%;

        text-align: center;
    }
    .botao__login___menu-aberto:active{
        background-image: url("../../Assets/Interações/active-login.svg");
        background-position-y: center;
        background-position-x: center;

        background-size: 400% 400%;

        transition: all .2s ease-in-out;
    }
    .botao__login___menu-aberto:hover{
        color: #FFFFFF;

        background-color: var(--primary-dark);
        transition: all .15s ease-in-out;
    }
    .container__botao___dropdown-menu-aberto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.813rem;
    }
    .container__dropdown-menu-aberto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 86vw;
        gap: 1.813rem;

        height: auto;

        cursor: pointer;
    }
    .item__lista___dropdown {
        font-family: var(--inter);
        color: var(--low-light);
        font-weight: var(--medium);
        font-size: 18px;
        transition: all .15s ease-in-out;
        background-position: left center;
        background-repeat: no-repeat;
    }
    .container__botao___dropdown{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        cursor: pointer;
    }
    .botao__produtos{
        border: none;
        background-color: transparent;
    }
    .seta__dropdown{
        transition: all .2s ease-in-out;
    }
    .container__dropdown:hover  .botao__produtos{
        color: #00BD62;

        transition: all .15s ease-in-out;
    }
    .container__dropdown:hover  .seta__dropdown-color{
        stroke: #00BD62;

        transition: all .15s ease-in-out;
    }
    .container__conteudo___dropdown-menu-aberto{
        display: flex;
        flex-direction: column;

        width: 15.4rem;

        visibility: visible;

        background: #FFFFFF;
        border-radius: 8px;

        opacity: 1;

        padding-left: .5rem;
    
    }
    .secao__link-menu-aberto{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        margin-top: 2.5rem;
    }
}