@media (min-width:0px){
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .form__fale-conosco{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;

        overflow-y: visible;
    }
    /*-----------------------DADOS-LGPD--------------------*/
    .secao__dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.5rem;

        width: 50vw;
        height: 115vh;

        padding-top: 6rem;
    }
    .container__cabecalho___dados{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 33vw;
    }
    .titulo__cabecalho___dados{
        font-family: 'Graphik-SemiBold';
        font-size: 40px;

        color: #292A2C;

        margin: 0%;
    }
    .descricao__cabecalho___dados{
        font-family: var(--inter);
        font-weight: var(--medium);
        font-size: 16px;

        color: var(--low-light);

        margin: 0%;
    }
    .secao__form___dados{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        width: 33vw;
    }
    .titulo__form___dados{
        font-family: var(--inter);
        font-weight: var(--bold);
        font-size: 21.8px;

        color: #000000;

        margin: 0%;
    }
    .secao__inputs___form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .container__input___form{
        display: flex;
        flex-direction: column;
    }
    .label__input___form{
        font-family: 'Graphik-Regular';
        font-size: 12px;

        color: var(--low-light);

        margin: 0%;

        position: relative;
        top: 2rem;
        left: 1rem;

        width: 7rem;

        user-select: none;

        z-index: 1;

        transition: all .2s ease-in-out;

        visibility: visible;
    }
    .input__form{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        border: 1px solid #828282;
        border-radius: 8px;

        width: 33vw;
        height: 3.063rem;

        font-family: 'Graphik-Regular';
        font-size: 14px;

        color: #000000;

        background-color: transparent;

        z-index: 200;

        transition: all .2s ease-in-out;
    }
    .input__form:focus{
        outline: 1px solid var(--primary-dark);

        padding-top: 2.625rem;

        height: 4.688rem;

        transition: all .2s ease-in-out;
    }
    .text__area___form{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        border: 1px solid #828282;
        border-radius: 8px;

        width: 33vw;
        height: 11.563rem;

        font-family: 'Graphik-Regular';
        font-size: 14px;

        color: #000000;

        resize: none;

        transition: all .2s ease-in-out;
    }
    .text__area___form:focus{
        outline: 1px solid var(--primary-dark);

        padding-top: 2.625rem;

        height: 12.863rem;
        transition: all .2s ease-in-out;
    }
    .botao__enviar___mensagem{
        width: 33vw;

        border: none;
        background-color: var(--primary-dark);
        padding-top: 1rem;
        padding-bottom: 1rem;

        text-align: center;

        border-radius: 8px;

        font-family: var(--inter);
        font-weight: var(--semi-bold);
        font-size: 16px;

        color: #FFFFFF;
    }
    /*-----------------------MOTIVACAO--------------------*/
    .secao__adress___fale-conosco{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        width: 50vw;
        height: 100vh;

        padding-top: 15.688rem;
        padding-bottom: 7.625rem;

        background-color: var(--primary-dark);
    } 

    .container__card___adress{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        background-color: var(--primary-dark);

        width: 23rem;

        border: 1px solid #FFFFFF;
        border-radius: 8px;
        
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;


        transition: all .1s ease-in-out;
    }
    .container__card___adress:hover{
        background-color: #FFFFFF;
        transition: all .1s ease-in-out;
    }
    .container__card___adress:hover .info__card___adress{
        color: var(--primary-dark);
        transition: all .1s ease-in-out;
    }
    .container__card___adress:hover .vetor__redes-sociais___fale-conosco{
        stroke: var(--primary-dark);
        transition: all .1s ease-in-out;
    }
    .container__card___adress:hover .vetor__whatsapp___fale-conosco{
        stroke: var(--primary-dark);
        fill: var(--primary-dark);
        transition: all .1s ease-in-out;
    }
    .vetor__redes-sociais___fale-conosco, .vetor__whatsapp___fale-conosco{
        transition: all .1s ease-in-out;
    }
    .info__card___adress{
        font-family: var(--inter);
        font-weight: var(--semi-bold);
        font-size: 14px;
        transition: all .1s ease-in-out;
    }
    .secao__adress___container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 23rem;
    }
    .link__adress___container{

        background-color: var(--primary-dark);

        border: 1px solid #FFFFFF;
        border-radius: 8px;
        
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        transition: all .1s ease-in-out;
    }
    .link__adress___container:hover{
        background-color: #FFFFFF;
        transition: all .1s ease-in-out;
    }
    .link__adress___container:hover .vetor__redes-sociais___fale-conosco{
        stroke: var(--primary-dark);
        transition: all .1s ease-in-out;
    }
    .vetor-email__fale-conosco, .vetor-site__fale-conosco{
       position: relative;
       top: .1rem;
    }
}