@media (min-width:0px){
    /*-------------------------CONTEUDO-----------------------*/
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #destaque-paginacao{
        color: var(--primary-dark);
    }
    #destaque-paginacao-seta{
        stroke: #00BD62;
    }
    #destaque-paginacao-vetor{
        fill: #00BD62;
    }
        /*-------------------------BANNER-----------------------*/
        .secao__banner{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 100vw;

            padding-top: 6rem;
            padding-left: 9vw;
            padding-right: 9vw;
            padding-bottom: 6rem;
            
            background-image: url("../../Assets/Imagens/vetor-background-banner.svg");
            background-repeat: no-repeat;
            background-position: right center;
        }
        @media (min-width:1981px){
            .secao__banner{
                justify-content: center;
                gap: 25rem;
            }
        }
        .secao__info___banner{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            width: 31.125rem;

            position: relative;

            animation: animaInfoBanner 1.2s ease-in-out forwards;
        }
        .container__tag___produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.556rem;
        }
        .container__tag___produto > svg {
            width: 1.756rem;
        }
        .titulo__tag___produto{
            font-family: var(--inter);
            font-weight: var(--semi-bold);
            font-size: 12px;

            color: var(--high-dark);
        }
        .titulo__info___banner{
            font-family: 'Graphik-Bold';
            font-size: 48px;

            line-height: 120%;

            color: var(--low-dark);

            margin: 0%;
        }
        .descricao__info___banner{
            font-family: 'Graphik-Regular';
            font-size: 16px;

            color: var(--low-light);

            margin: 0%;
        }
        .container__saiba___banner{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.104rem;

            margin-top: 1.5rem;
        }
        .botao__agendar-apresentacao{
            background-color: var(--primary-dark);
            border-radius: 8px;

            border: 1px solid #FFFFFF;

            padding: 1rem;

            font-family: 'Graphik-SemiBold';
            font-size: 14px;

            transition: all .15s ease-in-out;
        }
        .botao__agendar-apresentacao:hover{
            background-color: #05733E;

            transition: all .15s ease-in-out;
        }
        .botao__saiba-mais{
            font-family: 'Graphik-Medium';
            font-size: 14px;

            color: var(--high-dark);

            padding-left: 1.7rem;
            padding-top: .12rem;
            padding-bottom: .1rem;

            background-image: url("../../Assets/Vetores/vetor-saiba-mais.svg");
            background-position-x: left;
            background-position-y: -.1rem;
            background-repeat: no-repeat;
        
        }
        .imagem__banner{
            width: 36.438rem;

            position: relative;

            animation: animaImagemBanner 1.2s ease-in-out forwards;
        }
        @keyframes animaImagemBanner {
            0%{
                right: -10rem;
                opacity: 0;
            }
            100%{
                right: 0%;
                opacity: 1;
            }
        }
        @keyframes animaInfoBanner {
            0%{
                left: -10rem;
                opacity: 0;
            }
            100%{
                left: 0%;
                opacity: 1;
            }
        }


        /*----------------------INFO--PRODUTO--------------------*/
        .secao__conteudo___produto{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 12rem;

            width: 100vw;
        }
        .cabecalho__conteudo___produto{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            margin-bottom: 6rem;

            background-color: #00BD62;

            width: 100vw;

            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        .titulo__conteudo___produto > span {
            color: #000000;
        }
        .titulo__conteudo___produto{
            font-family: 'Graphik-SemiBold';
            font-size: 32px;

            line-height: 120%;

            color: #FFFFFF;

            margin: 0%;
        }
        .descricao__conteudo___produto{
            font-family: 'Graphik-Regular';
            font-size: 16px;

            line-height: 145%;

            color: #FFFFFF;

            margin: 0%;

            width: 43.375rem;

            text-align: center;
        }
        .descricao__conteudo___produto > span {
            color: #000000;
        }
        .secao__cards___info-produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8.625rem;

            width: 86vw;
        }
        .container__card___info-produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3rem;
        }
        .imagem__card___info-produto{
            width: 36.375rem;
        }
        .container__info___produto{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
            width: 29.063rem;
        }
        .container__info___produto > svg {
            width: 2.343rem;
        }
        .titulo__info___produto{
            font-family: var(--inter);
            font-weight: var(--semi-bold);
            font-size: 32px;

            line-height: 120%;

            color: var(--low-dark);

            margin: 0%;
            margin-top: 1rem;
        }
        .descricao__info___produto{
            font-family: 'Graphik-Regular';
            font-size: 16px;

            line-height: 160%;

            color: var(--low-light);

            margin: 0%;
        }
        /*---------------------------SECAO-FUNCIONALIDADES----------------------------*/
        #funcionalidades-mobile{
            display: none;
        }
        .secao__funcionalidades___produto{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5.5rem;

            background-color: #000000;

            width: 100vw;

            padding-top: 6rem;
            padding-bottom: 12.25rem;

            margin-top: 7.313rem;
        }
        .container__cabecalho___funcionalidades{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
        .titulo__cabecalho___funcionalidades{
            font-family: var(--inter);
            font-weight: var(--bold);
            font-size: 32px;

            color: #FFFFFF;

            margin: 0%;

            text-align: center;
        }
        .descricao__cabecalho___funcionalidades{
            font-family: 'Graphik-Regular';
            font-size: 16px;

            line-height: 120%;

            color: #FFFFFF;

            margin: 0%;
        }
        .secao__lista-funcionalidades{
            display: flex;
            flex-direction:column;
            align-items: center;
            width: auto;
        }
        .lista-funcionalidades{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: auto;
            overflow-x: visible;
            border-radius: 8px;

            transition: all .6s ease-out;
        }
        .container__carousel-funcionalidades{
            width: 76vw;

            overflow-x: hidden;

            border-radius: 8px;
        }
        .item__lista___funcionalidades{
            display: flex;
            flex-direction: row;
            gap: 6.313rem;

            width: 76vw;
            height: auto;

            border-radius: 8px;
        }
        .container__card___funcionalidades{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            width: 18.75rem;
        }
        .titulo__card___funcionalidades{
            font-family: var(--inter);
            font-weight: var(--semi-bold);
            font-size: 24px;

            line-height: 120%;

            color: #FFFFFF;

            margin: 0%;
            margin-top: 1rem;
        }
        .descricao__card___funcionalidades{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 16px;

            line-height: 120%;

            color: #FFFFFF;

            margin: 0%;
        }
        .container__botao___caroussel-funcionalidades{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 2.261rem;

            width: 76vw;

            margin-top: 3.813rem;
        }
        .botao__carrousel-funcionalidades{
            border: none;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            padding: 1rem;
        }
        .botao__anterior___caroussel-funcionalidades{
            display: none;
        }
        .botao__proximo___caroussel-funcionalidades{
            background-image: url("../../Assets/Vetores/Setas/vetor-seta-direita-green.svg");
        }
        .carousel__indicadores-funcionalidades{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;

            transition: all .6s ease-out;

            height: 0.125rem;
            border-radius: 8px;
        }
        .carousel__indicador-funcionalidades{
            background-color: #FFFFFF;
            border: none;

            height: 0.125rem;
            width: 1.5rem;

            border-radius: 1px;

            transition: all .1s ease-in-out;
        }
        .carousel__indicador--ativo-funcionalidades{
            background-color: var(--primary-dark);
        }
        @media (min-width:1441px){
            .container__carousel-funcionalidades{
                width: 68.8rem;
            }
            .item__lista___funcionalidades{
                width: 68.938rem;

                gap: 6.313rem;
            }
        }
        @media (max-width:1441px){
            .item__lista___funcionalidades{
            justify-content: space-between;
            }
        }
        .item-lista-mobile{
            display: none;
        }
        .indicador-mobile{
            display: none;
        }
}